<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&display=swap" rel="stylesheet">
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script src="../static/js/script.js" type="text/javascript" defer></script>
      <title>Document</title>
  </head>
  <body>
    <div class="dropdown">
      <div>
        <button class="dropbtn" onclick='selectSchedule()'>Schedule Time</button>
        <button class="dropbtn" onclick='cancelSchedule()'>Cancel Time</button>
      </div>
      <div id="scheduleDropdown" class="dropdown-content">
        <table id = "Event" class="events">
          {% for Event in Events %}
          <tr id = "Individual_Event" onclick='schedule(this, "{{ Event["Dates:"] }}", "{{ Event["Times:"] }}", "{{ Event["Total Available:"] }}", "{{ Event["Currently Available:"] }}", "{{ Event["Room Number:"] }}")'>
            <td>Date: {{ Event['Dates:'] }}</td>
            <td>Time: {{ Event['Times:'] }}</td>
            <td>Total Available: {{ Event['Total Available:'] }}</td>
            <td>Currently Available: {{ Event['Currently Available:'] }}</td>
            <td>Room Number: {{ Event['Room Number:'] }} </td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <div id="cancelscheduleDropdown" class="dropdown-content">
        <table id = "All_Event" class="events">
          {% for All_Event in All_Events %}
          <tr id = "Individual_Event" onclick='unSchedule(this, "{{ All_Event["Dates:"] }}", "{{ All_Event["Times:"] }}", "{{ All_Event["Total Available:"] }}", "{{ All_Event["Currently Available:"] }}", "{{ All_Event["Room Number:"] }}")'>
            <td>Date: {{ All_Event['Dates:'] }}</td>
            <td>Time: {{ All_Event['Times:'] }}</td>
            <td>Total Available: {{ All_Event['Total Available:'] }}</td>
            <td>Currently Available: {{ All_Event['Currently Available:'] }}</td>
            <td>Room Number: {{ All_Event['Room Number:'] }} </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    <div class = "selected_events">
      <span id = "list"></span>
      <div class = "display_events">
        <table class = "table_title" id = "table">
          <tr>
            <td>Date: </td>
            <td>Time: </td>
            <td>Total Available: </td>
            <td>Currently Available: </td>
            <td>Room Number: </td>
            <td>Add/Drop: </td>
          </tr>
        </table>
      </div>
      <div class = "student_info">
        <label for = "">Student Name *</label>
        <br>
        <input type = "text" name = "student_name" id = "student_name" required />
        <br>
      </div>
      <div class = "student_info">
        <label for = "">Student Email *</label>
        <br>
        <input type = "text" name = "student_email" id = "student_email" required />
        <br>
      </div>
      <div>
        <button class = "student_info_submit" onclick="passData()">Confirm</button>
      </div>
    </div>
  </body>
</html>